<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Instalment example</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 px-3">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Instalment</a>
    </nav>
</header>
<div class="container align-items-center text-center">
    @if (ViewBag.Snippet == null)
    {
        <!--Action that initiates instalment and returns Snippet/Link-->
        <a asp-controller="Home" asp-action="InitiateInstalment">Initiate</a>
    }
    else
    {
        <!--Using returned link in iframe-->
        <div class="col-12 col-md-6">
            <h4>With link and iframe</h4>
            <iframe src="@ViewBag.Link"></iframe>
        </div>
        <hr/>
        <!--Inserting raw html snippet-->
        <div class="col-12 col-md-6">
            <h4>With raw html snippet</h4>
            @Html.Raw(ViewBag.Snippet)
        </div>
    }
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--Script is needed to use raw html and code injection-->
<script async defer type="text/javascript" src="https://test.rivr.io/api/scripts/YOUR_PLATFORM_ID_HERE"></script>
</body>