<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Instalment example</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 px-3">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Instalment</a>
    </nav>
</header>
<div class="container align-items-center d-flex flex-column border rounded-3 my-3 px-0 bg-transparent">
    @if (ViewBag.Snippet == null)
    {
        <a asp-controller="Home" asp-action="InitiateInstalment">Initiate</a>
    }
    else
    {
        @Html.Raw(ViewBag.Snippet)
    }
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Load our scripts at the bottom of your page -->
<script async defer type="text/javascript" src="https://test.rivr.io/api/scripts/YOUR_ID_HERE"></script>
</body>